NET "clk" LOC="C9"|
IOSTANDARD=LVCMOS33;
NET "reset" LOC="L13"|
IOSTANDARD=LVCMOS33;
NET"green" LOC="F12"|
IOSTANDARD=LVCMOS33;
NET"yellow" LOC="E12"|
IOSTANDARD=LVCMOS33;
NET "red"LOC="E11"|
IOSTANDARD=LVCMOS33;
NET"emergency" LOC="L14"|
IOSTANDARD=LVCMOS33;





